{

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Repo config
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


 :drafter.common.config/sparql-query-endpoint #env SPARQL_QUERY_ENDPOINT
 :drafter.common.config/sparql-update-endpoint #env SPARQL_UPDATE_ENDPOINT

 :drafter.stasher.filecache/file-backend {:dir #or [#env STASHER_CACHE_DIR "stasher-cache"]}

 :drafter.stasher/cache {:cache-backend #ig/ref :drafter.stasher.filecache/file-backend
                         :thread-pool #ig/ref :drafter.stasher/cache-thread-pool}

 :drafter.stasher.cache-clearer/scheduler {:pool-size 1}

 :drafter.stasher/cache-clearer {:scheduler #ig/ref :drafter.stasher.cache-clearer/scheduler
                                 :cache-dir #or [#env STASHER_CACHE_DIR "stasher-cache"]
                                 :max-cache-size-gb #or [#env STASHER_CACHE_SIZE 10.0]
                                 :delay #or [#env STASHER_CACHE_CLEANER_DELAY 10]
                                 :period #or [#env STASHER_CACHE_CLEANER_PERIOD 30]
                                 :archive-ttl #or [#env STASHER_CACHE_CLEANER_ARCHIVE_TTL 240]
                                 :archive-at #or [#env STASHER_CACHE_CLEANER_ARCHIVE_AT 0.8]
                                 :archive-until #or [#env STASHER_CACHE_CLEANER_ARCHIVE_UNTIL 0.6]}

 :drafter.stasher/cache-thread-pool {:core-pool-size #long #or [#env STASHER_CORE_POOL_SIZE 1]
                                     :max-pool-size #long #or [#env STASHER_MAX_POOL_SIZE 10]
                                     :keep-alive-time-ms #long #or [#env STASHER_KEEP_ALIVE_TIME_MS 1000]
                                     :queue-size #long #or [#env STASHER_QUEUE_SIZE 1]}

 :drafter.stasher/repo {:cache #ig/ref :drafter.stasher/cache
                        :cache? #boolean #or [#env STASHER_CACHE_ENABLED true]
                        :sparql-query-endpoint #ig/ref :drafter.common.config/sparql-query-endpoint
                        :sparql-update-endpoint #ig/ref :drafter.common.config/sparql-update-endpoint}


 ;;;; A repo specifically for the live query endpoint
 :drafter.backend.live/endpoint {:repo #ig/ref :drafter.stasher/repo}

 :drafter/backend {:repo #ig/ref :drafter.stasher/repo}


 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Web handlers
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 [:drafter.timeouts/timeout-query :drafter/live-timeout] {:endpoint-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_LIVE
                                                          :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY}

 [:drafter.timeouts/timeout-query :drafter/draftset-timeout] {:endpoint-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_DRAFTSET
                                                              :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY }

 :drafter.routes/jobs-status {:wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.routes.sparql/live-sparql-query-route {:repo #ig/ref :drafter.backend.live/endpoint
                                                 :timeout-fn #ig/ref [:drafter.timeouts/timeout-query :drafter/live-timeout]}

 :drafter.feature.draftset.list/get-draftsets-handler {:drafter/backend #ig/ref :drafter/backend
                                                       :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.feature.draftset.show/handler {:drafter/backend #ig/ref :drafter/backend
                                         :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.feature.draftset.create/handler {:drafter/backend #ig/ref :drafter/backend
                                           :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.feature.middleware/wrap-as-draftset-owner {:drafter/backend #ig/ref :drafter/backend
                                                       :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.feature.draftset.delete/handler {:drafter/backend #ig/ref :drafter/backend
                                           :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.options/handler {:drafter/backend #ig/ref :drafter/backend
                                            :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.feature.draftset-data.show/handler {:drafter/backend #ig/ref :drafter/backend
                                              :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner
                                              :timeout-fn #ig/ref [:drafter.timeouts/timeout-query :drafter/draftset-timeout]}

 :drafter.feature.draftset-data.delete/delete-data-handler {:drafter/backend #ig/ref :drafter/backend
                                                             :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset-data.delete-by-graph/remove-graph-handler {:drafter/backend #ig/ref :drafter/backend
                                                              :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.changes/delete-changes-handler {:drafter/backend #ig/ref :drafter/backend
                                                                :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset-data.append/data-handler {:drafter/backend #ig/ref :drafter/backend
                                                                  :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset-data.append-by-graph/handler {:drafter/backend #ig/ref :drafter/backend
                                                           :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.query/handler {:drafter/backend #ig/ref :drafter/backend
                                          :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner
                                          :timeout-fn #ig/ref [:drafter.timeouts/timeout-query :drafter/draftset-timeout]}

 :drafter.feature.draftset.publish/handler {:drafter/backend #ig/ref :drafter/backend
                                            :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.set-metadata/handler {:drafter/backend #ig/ref :drafter/backend
                                                 :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.submit/handler {:drafter/backend #ig/ref :drafter/backend
                                           :drafter.user/repo #ig/ref :drafter.user/repo
                                           :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.claim/handler {:wrap-auth #ig/ref :drafter.middleware/wrap-auth
                                          :drafter/backend #ig/ref :drafter/backend}

 #_:drafter.routes.draftsets-api/get-users-handler
 :drafter.feature.users.list/get-users-handler {:wrap-auth #ig/ref :drafter.middleware/wrap-auth
                                                  :drafter.user/repo #ig/ref :drafter.user/repo}

 :drafter.routes/draftsets-api {:get-users-handler #ig/ref :drafter.feature.users.list/get-users-handler
                                :get-draftsets-handler #ig/ref :drafter.feature.draftset.list/get-draftsets-handler
                                :create-draftsets-handler #ig/ref :drafter.feature.draftset.create/handler
                                :get-draftset-handler #ig/ref :drafter.feature.draftset.show/handler
                                :delete-draftset-handler #ig/ref :drafter.feature.draftset.delete/handler
                                :draftset-options-handler #ig/ref :drafter.feature.draftset.options/handler
                                :draftset-get-data-handler #ig/ref :drafter.feature.draftset-data.show/handler
                                :delete-draftset-data-handler #ig/ref :drafter.feature.draftset-data.delete/delete-data-handler
                                :delete-draftset-graph-handler #ig/ref :drafter.feature.draftset-data.delete-by-graph/remove-graph-handler
                                :delete-draftset-changes-handler #ig/ref :drafter.feature.draftset.changes/delete-changes-handler
                                :put-draftset-data-handler #ig/ref :drafter.feature.draftset-data.append/data-handler
                                :put-draftset-graph-handler #ig/ref :drafter.feature.draftset-data.append-by-graph/handler
                                :draftset-query-handler #ig/ref :drafter.feature.draftset.query/handler
                                :draftset-publish-handler #ig/ref :drafter.feature.draftset.publish/handler
                                :draftset-set-metadata-handler #ig/ref :drafter.feature.draftset.set-metadata/handler
                                :draftset-submit-to-handler #ig/ref :drafter.feature.draftset.submit/handler
                                :draftset-claim-handler #ig/ref :drafter.feature.draftset.claim/handler
                                }

 :drafter.handler/app {:repo #ig/ref :drafter.stasher/repo
                       :live-sparql-query-route #ig/ref :drafter.routes.sparql/live-sparql-query-route
                       :draftset-api-routes #ig/ref :drafter.routes/draftsets-api
                       :jobs-status-routes #ig/ref :drafter.routes/jobs-status}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Web Server
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 :drafter.server/http {:handler #ig/ref :drafter.handler/app
                       :open-browser? false
                       :stacktraces? false
                       :port #long #or [#port #env DRAFTER_HTTP_PORT 3001]}


 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Misc
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


 :drafter/write-scheduler {:port #long #or [#port #env DRAFTER_HTTP_PORT 3001]}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; logging
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 :drafter.main/datadog {:statsd-address #or [#env DATADOG_STATSD_ADDRESS nil]
                        :tags {:service :drafter}}


 :drafter/logging {:config "log-config.edn"}

 }
