<?xml version="1.0" encoding="UTF-8"?>
<!-- Watch config file for changes every 30 seconds -->
<Configuration status="info" monitorInterval="30">

    <Properties>
        <Property name="log-path">${env:DRAFTER_LOGS_DIR:-logs}</Property>
    </Properties>

    <Appenders>
        <RollingFile name="file-log" fileName="${log-path}/drafter.log"
                     filePattern="${log-path}/drafter.%i.log.gz">
            <PatternLayout>
                <pattern>%d{ISO8601} %-5p %20.20c{1} %12X{user} %12X{jobId} %12X{reqId} :: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p %20.20c{1} %12X{user} %12X{jobId} %12X{reqId} :: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <appender-ref ref="console" level="warn"/> <!-- only log warnings and worse to REPL -->
            <appender-ref ref="file-log" level="info"/>
        </Root>
    </Loggers>
</Configuration>