;; note you should also edit dependencies-mongo-auth (which is used for the tests) or if you want to install mongo (e.g. for pmd3)
{"stardog" "6.2.3-3.0" ;; NOTE: also update this in dependencies-mongo-auth.edn
 "server-ssl" "1.2021"}
