(let [log-pattern "%d{ISO8601} %-5p %20.20c{1} %12X{jobId} %12X{reqId} :: %m%n"
      max-backups 7
      sparql-log (doto (org.apache.log4j.RollingFileAppender.
                        (EnhancedPatternLayout. log-pattern)
                        "logs/sparql.log")
                   (.setMaxBackupIndex max-backups))
      drafter-log (doto (org.apache.log4j.RollingFileAppender.
                         (EnhancedPatternLayout. log-pattern)
                         "logs/drafter.log")
                    (.setMaxBackupIndex max-backups))]

  (set-loggers!
       ["org.openrdf" "drafter" "swirrl-server"]
       {:name "drafter"
        :level :info
        :out drafter-log}

       ["drafter.rdf.sparql-protocol" "drafter.routes.sparql-update"]
       {:name "sparql"
        :level :info
        :out sparql-log}))
