{:dev-overrides {:env {:sparql-query-endpoint "http://localhost:5820/drafter/query"
                       :drafter-backend "drafter.backend.stardog.sesame"
                       :sparql-update-endpoint "http://localhost:5820/drafter/update"}}}
