[{:username "editor@swirrl.com" :password "password" :role :editor}
 {:username "publisher@swirrl.com" :password "password" :role :publisher}
 {:username "manager@swirrl.com" :password "password" :role :manager}
 {:username "system@swirrl.com" :password "password" :role :system}]
