{
 :omni/package-format "1"
 ;;:omni/package-name "drafter"
 ;;:omni/dependencies #include "../dependencies.edn"
 :omni/package-version #join [#env TRAVIS_BRANCH "-" #env TRAVIS_BUILD_NUMBER]

 :omni/defs {:zip-name "drafter.zip"}

 :server/drafter-domain {:doc "Domain drafter is hosted on"}
 :omni/metadata {:omni/repository-uri "https://github.com/swirrl/drafter"}
 :omni/facets {:install [{:type :selmer/template
                          :path "cleanup-drafter-temp.sh"
                          :mode "755"
                          :facet :cron}
                         {:type :selmer/template
                          :path "drafter-start.sh"
                          :mode "755"}
                         {:type :zip
                          :path #ref [:omni/defs :zip-name]
                          :dest-path #ref [:omni/defs :zip-name]
                          :extract-dir "."}                         
                         {:type :env
                          :dest-path "drafter-env.list"
                          :mode "660"
                          :facet :systemd}
                         {:type :env
                          :dest-path "dev-settings.env"
                          :env #{:dev :ci}}
                         {:type :copy
                          :path "dev-stop.sh"
                          :mode "755"
                          :env #{:dev :ci}}
                         {:type :selmer/template
                          :path "log-config.edn.template"
                          :dest-path "log-config.edn"
                          :keys [:drafter/sparql-log-file-path
                                 :drafter/drafter-log-file-path]}
                         "init-public-endpoint.edn"]
               :systemd [{:type :selmer/template
                          :path "drafter.service"
                          :keys [:omni/install-dir]}]
               :cron {:files [{:type :selmer/template
                               :path "cleanup-drafter-temp.template"
                               :dest-path "cleanup-drafter-temp"
                               :keys [:drafter/cleanup-log-file
                                      :omni/install-dir]}]}
               :nginx [{:type :selmer/template
                        :path "drafter-api.template"
                        :dest-path "sites-available/drafter-api"
                        :keys [:server/drafter-domain
                               :install/nginx-dir
                               :drafter/http-port]}
                       {:type :symlink
                        :dest-path "sites-enabled/drafter-api"
                        :target "sites-available/drafter-api"}]}

 :omni/keys {:drafter/http-port {:doc "HTTP port to listen on"
                     :env-var DRAFTER_HTTP_PORT
                     :default 3001
                     :optional true}
 :drafter/batched-write-size {:key :drafter/batched-write-size
                              :doc "Batch size for writing statments to stardog"
                              :env-var DRAFTER_BATCHED_WRITE_SIZE
                              :optional true}
 :drafter/sparql-query-endpoint {:doc "URI of the stardog SPARQL query endpoint"
                                 :env-var SPARQL_QUERY_ENDPOINT}
 :drafter/sparql-update-endpoint {:doc "URI of the stardog SPARQL update endpoint"
                                  :env-var SPARQL_UPDATE_ENDPOINT}

 :drafter/timeout-query-endpoint-live {:doc "Query timeout for the live endpoint"
                                       :optional true
                                       :env-var DRAFTER_TIMEOUT_QUERY_ENDPOINT_LIVE}
 :drafter/timeout-query-endpoint-draftset {:doc "Query timeout for draftset endpoints"
                                           :optional true
                                           :env-var DRAFTER_TIMEOUT_QUERY_ENDPOINT_DRAFTSET}

 :drafter/stasher-cache-enabled {:doc "Whether stasher caching is enabled"
                                 :optional true
                                 :env-var STASHER_CACHE_ENABLED}
 :drafter/stasher-cache-dir {:doc "Directory used to write cached results to"
                             :optional true
                             :env-var STASHER_CACHE_DIR}
 :drafter/stasher-max-pool-size {:doc "Max thread pool size for stasher"
                                 :env-var STASHER_MAX_POOL_SIZE
                                 :optional true}
 :drafter/stasher-queue-size {:doc "Size of the queue for cache requests"
                              :env-var STASHER_QUEUE_SIZE
                              :optional true}

 :drafter/drafter-log-file-path {:doc "Path to the drafter log file"
                                 :default "drafter.log"}
 :drafter/sparql-log-file-path {:doc "Path to the sparql log file"
                                :default "sparql.log"}

 :datadog/statsd-address {:doc "Address of the statsd service"
                          :env-var DATADOG_STATSD_ADDRESS
                          :default "localhost:8125"
                          :optional true}}
 }
