{

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Repo config
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  
 :drafter.common/config {:sparql-query-endpoint #uri #env SPARQL_QUERY_ENDPOINT
                         :sparql-update-endpoint #uri #env SPARQL_UPDATE_ENDPOINT}

 
 :drafter.stasher/filecache {}

 :drafter.stasher/repo #merge [{:cache #ig/ref :drafter.stasher/filecache}
                               ^:ref [:drafter.common/config]]
 

 ;;;; A repo specifically for the live query endpoint
 :drafter.backend.live/endpoint {:uncached-repo #ig/ref :drafter.backend/rdf4j-repo
                                 :stasher-repo #ig/ref :drafter.stasher/repo}
 
 :drafter.backend/rdf4j-repo #merge [{:batched-write-size #or [#env "batched-write-size" 75000]
                                      ;; TODO  :batched-write-size #opt-nat #env DRAFTER_BATCHED_WRITE_SIZE
                                      }
                                     ^:ref [:drafter.common/config]]

 ;; TODO construct drafter instance instead
 :drafter/backend {:uncached-repo #ig/ref :drafter.backend/rdf4j-repo
                   :stasher-repo #ig/ref :drafter.stasher/repo}
 

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Web Middleware
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 
 :drafter.middleware/wrap-auth {:drafter.user/repo #ig/ref :drafter.user/repo
                                :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY }

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Web handlers
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 
 [:drafter.timeouts/timeout-query :drafter/live-timeout] {:endpoint-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_LIVE
                                                          :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY}

 [:drafter.timeouts/timeout-query :drafter/draftset-timeout] {:endpoint-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_DRAFTSET
                                                              :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY }
 
 :drafter.routes.sparql/live-sparql-query-route {:repo #ig/ref :drafter.backend.live/endpoint
                                                 :timeout-fn #ig/ref [:drafter.timeouts/timeout-query :drafter/live-timeout]}

 :drafter.routes.draftsets-api/get-draftsets-handler {:drafter/backend #ig/ref :drafter/backend
                                                      :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.routes.draftsets-api/get-draftset-handler {:drafter/backend #ig/ref :drafter/backend
                                                     :wrap-auth #ig/ref :drafter.middleware/wrap-auth}


 :drafter.routes.draftsets-api/create-draftsets-handler {:drafter/backend #ig/ref :drafter/backend
                                                         :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.routes.draftsets-api/wrap-as-draftset-owner {:drafter/backend #ig/ref :drafter/backend
                                                       :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.routes.draftsets-api/delete-draftset-handler {:drafter/backend #ig/ref :drafter/backend
                                                        :wrap-as-draftset-owner #ig/ref :drafter.routes.draftsets-api/wrap-as-draftset-owner}

 :drafter.routes.draftsets-api/draftset-options-handler{:drafter/backend #ig/ref :drafter/backend
                                                        :wrap-auth #ig/ref :drafter.middleware/wrap-auth}
 
 
 :drafter.routes/draftsets-api {;;:repo #ig/ref :drafter.backend/rdf4j-repo
                                :backend #ig/ref :drafter/backend
                                :drafter.user/repo #ig/ref :drafter.user/repo
                                :wrap-auth #ig/ref :drafter.middleware/wrap-auth
                                :wrap-as-draftset-owner #ig/ref :drafter.routes.draftsets-api/wrap-as-draftset-owner

                                :get-draftsets-handler #ig/ref :drafter.routes.draftsets-api/get-draftsets-handler
                                :create-draftsets-handler #ig/ref :drafter.routes.draftsets-api/create-draftsets-handler
                                :get-draftset-handler #ig/ref :drafter.routes.draftsets-api/get-draftset-handler
                                :delete-draftset-handler #ig/ref :drafter.routes.draftsets-api/delete-draftset-handler
                                :draftset-options-handler #ig/ref :drafter.routes.draftsets-api/draftset-options-handler
                                
                                :timeout-fn #ig/ref [:drafter.timeouts/timeout-query :drafter/draftset-timeout]
                                :live-query-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_LIVE}
 
 :drafter.handler/app {:repo #ig/ref :drafter.backend/rdf4j-repo
                       :live-sparql-query-route #ig/ref :drafter.routes.sparql/live-sparql-query-route
                       :draftset-api-routes #ig/ref :drafter.routes/draftsets-api
                       }

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Web Server
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 
 :drafter.server/http {:handler #ig/ref :drafter.handler/app
                       :open-browser? false
                       :stacktraces? false
                       :port #long #or [#port #env DRAFTER_HTTP_PORT 3001]}
 

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Misc
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 
  
 :drafter/write-scheduler {:port #long #or [#port #env DRAFTER_HTTP_PORT 3001]}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; logging
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 
 :drafter.main/datadog {:statsd-address #or [#env DATADOG_STATSD_ADDRESS nil]
                        :tags {:service :drafter}}

 
 :drafter/logging {:config "log-config.edn"}

 
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; User Database config
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; 

 ;; :drafter.user/mongo {:mongo-host #env DRAFTER_MONGO_HOST
 ;;                      :mongo-port #port #env DRAFTER_MONGO_PORT
 ;;                      :mongo-user-collection #or [#env DRAFTER_MONGO_USER_COLLECTION "users"]
 ;;                      :mongo-db-name #env DRAFTER_USER_DB_NAME

 ;;                      ;; TODO DEV only!
 ;;                      :realm #join ["Drafter: " #env DRAFTER_USER_DB_NAME] 
 ;;                      }

 
 
 ;;;; Uncomment below for an in memory repo
 
 :drafter.user/memory-repository {:users [{:username "editor@swirrl.com" :password "password" :role :editor}
                                          {:username "publisher@swirrl.com" :password "password" :role :publisher}
                                          {:username "manager@swirrl.com" :password "password" :role :manager}
                                          {:username "system@swirrl.com" :password "password" :role :system}]
                                  :realm "Drafter Memory Repo"}
 }
