{

 ;;  :log-config-file #or [#env LOG_CONFIG_FILE "log-config.edn"]

 ;;  :batched-write-size #opt-nat #env DRAFTER_BATCHED_WRITE_SIZE
 
 
 :drafter/write-scheduler {:port #long #or [#port #env DRAFTER_HTTP_PORT 3001]}

 ;;:drafter.services/datadog {}
 
 :drafter/logging {:config "log-config.edn"}

 :drafter.middleware/authentication-handler {:user-repo #ig/ref :drafter.user/repo
                                             :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY }

 :drafter.handler/live-endpoint-timeout-fn {:endpoint-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_LIVE
                                            :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY}

 :drafter.handler/draftset-query-timeout-fn {:endpoint-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_DRAFTSET
                                             :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY }
 
 :drafter.routes.sparql/live-sparql-query-route {:repo #ig/ref :drafter.backend/rdf4j-repo
                                                 :endpoint-timeout-fn #ig/ref :drafter.handler/live-endpoint-timeout-fn
                                                 :live-query-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_LIVE}


 :drafter.routes/draftsets-api {:repo #ig/ref :drafter.backend/rdf4j-repo
                                :user-repo #ig/ref :drafter.user/repo
                                :authentication-handler #ig/ref :drafter.middleware/authentication-handler

                                :draftset-query-timeout-fn #ig/ref :drafter.handler/draftset-query-timeout-fn
                                :live-query-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_LIVE}
 
 :drafter.handler/app {:authentication-handler #ig/ref :drafter.middleware/authentication-handler
                       :repo #ig/ref :drafter.backend/rdf4j-repo
                       :live-sparql-query-route #ig/ref :drafter.routes.sparql/live-sparql-query-route
                       :draftset-api-routes #ig/ref :drafter.routes/draftsets-api
                       }
 
 :drafter.main/datadog {:statsd-address #or [#env DATADOG_STATSD_ADDRESS nil]
                        :tags {:service :drafter}}
 
 :drafter.server/http {:handler #ig/ref :drafter.handler/app
                       :open-browser? false
                       :stacktraces? false
                       :port #long #or [#port #env DRAFTER_HTTP_PORT 3001]}
 
 ;; Also use aero readers
 :drafter.backend/rdf4j-repo {:batched-write-size #or [#env "batched-write-size" 75000] ;; TODO  :batched-write-size #opt-nat #env DRAFTER_BATCHED_WRITE_SIZE
                              :sparql-query-endpoint #uri #env SPARQL_QUERY_ENDPOINT
                              :sparql-update-endpoint #uri #env SPARQL_UPDATE_ENDPOINT }


 :drafter.user/mongo {:mongo-host #env DRAFTER_MONGO_HOST
                      :mongo-port #port #env DRAFTER_MONGO_PORT
                      :mongo-user-collection #or [#env DRAFTER_MONGO_USER_COLLECTION "users"]
                      :mongo-db-name #env DRAFTER_USER_DB_NAME

                      ;; TODO DEV only!
                      :realm #join ["Drafter: " #env DRAFTER_USER_DB_NAME] 
                      }
 
 ;; :drafter.user/memory-repository {:users [{:username "editor@swirrl.com" :password "password" :role :editor}
 ;;                                          {:username "publisher@swirrl.com" :password "password" :role :publisher}
 ;;                                          {:username "manager@swirrl.com" :password "password" :role :manager}
 ;;                                          {:username "system@swirrl.com" :password "password" :role :system}]
 ;;                                  :realm "Drafter Memory Repo"}
 }
