{
 :drafter/write-scheduler {}

 ;; Also use aero readers
 :drafter.backend.sesame/remote {
                                 :sparql-query-endpoint #env SPARQL_QUERY_ENDPOINT
                                 :sparql-update-endpoint #env SPARQL_UPDATE_ENDPOINT
                                 }

 :drafter.user/mongo {:mongo-host #env DRAFTER_MONGO_HOST
                      :mongo-port #port #env DRAFTER_MONGO_PORT
                      :mongo-user-collection #or [#env DRAFTER_MONGO_USER_COLLECTION "users"]
                      :mongo-db-name #env DRAFTER_USER_DB_NAME
                      }
}
