{
 
 :drafter.backend/rdf4j-repo {:sparql-query-endpoint #uri "http://localhost:5820/drafter-test-db/query" 
                              :sparql-update-endpoint #uri "http://localhost:5820/drafter-test-db/update" }
 
 :drafter/logging {:config "./test/resources/log-config.edn"}

 :drafter.stasher/cache-thread-pool {}
 
 :drafter.stasher.filecache/file-backend {}

 :drafter.stasher/cache {:cache-backend #ig/ref :drafter.stasher.filecache/file-backend
                         :thread-pool #ig/ref :drafter.stasher/cache-thread-pool}
 
 :drafter.stasher/repo {:cache #ig/ref :drafter.stasher/cache
                        :thread-pool #ig/ref :drafter.stasher/cache-thread-pool
                        :raw-repo #ig/ref :drafter.backend/rdf4j-repo
                        :sparql-query-endpoint #uri "http://localhost:5820/drafter-test-db/query" ;#env SPARQL_QUERY_ENDPOINT
                        :sparql-update-endpoint #uri "http://localhost:5820/drafter-test-db/update" ;#env SPARQL_UPDATE_ENDPOINT
                        }


 ;; instantiate/remove test fixture
 :drafter.fixture-data/loader {:repo #ig/ref :drafter.stasher/repo
                               :fixtures [#resource "drafter/stasher-test/drafter-state-1.trig"]}
 

 }
