#merge [#include "repo.edn"
        #include "backend.edn"
        #profile {:auth0 #include "auth0-repo.edn"
                  :basic-auth #include "user-repo.edn"}
        #include "log-system.edn"
        #include "web.edn"
        ]
