{
 :drafter.auth.auth0/mock-jwk {:endpoint #env AUTH0_DOMAIN}

 :swirrl.auth0.middleware/bearer-token
 {:auth0 #ig/ref :swirrl.auth0/client :jwk #ig/ref :drafter.auth.auth0/mock-jwk}

 :drafter.middleware.auth0-auth/identify {}

 :drafter.middleware.auth0-auth/token-authentication {}

 :drafter.middleware.auth0-auth/authorization {}

 :drafter.middleware.auth/wrap-auth
 {:drafter.user/repo #ig/ref :drafter.user/repo :jws-signing-key "foo"}

 :drafter.auth/read-role {}
 :swirrl.auth0.middleware/normalize-roles {:role-reader #ig/ref :drafter.auth/read-role}

 :drafter.middleware/wrap-auth
 #profile {:auth0 {:middleware [#ig/ref :swirrl.auth0.middleware/bearer-token
                                #ig/ref :swirrl.auth0.middleware/normalize-roles
                                #ig/ref :drafter.middleware.auth0-auth/identify
                                #ig/ref :drafter.middleware.auth0-auth/token-authentication
                                #ig/ref :drafter.middleware.auth0-auth/authorization]}
           :basic-auth {:middleware [#ig/ref :drafter.middleware.auth/wrap-auth]}}

 ;; [:drafter.timeouts/timeout-query :drafter/live-timeout] {:endpoint-timeout 30
 ;;                                                          :jws-signing-key "foo"}

 ;; [:drafter.timeouts/timeout-query :drafter/draftset-timeout] {:endpoint-timeout 30
 ;;                                                              :jws-signing-key "foo"}

 ;; :drafter.routes.sparql/live-sparql-query-route {:repo #ig/ref :drafter.backend.draftset/endpoint
 ;;                                                 :endpoint-timeout-fn #ig/ref [:drafter.timeouts/timeout-query :drafter/live-timeout]}


 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 [:drafter.timeouts/timeout-query :drafter/live-timeout] {:endpoint-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_LIVE
                                                          :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY}

 [:drafter.timeouts/timeout-query :drafter/draftset-timeout] {:endpoint-timeout #timeout #env DRAFTER_TIMEOUT_QUERY_ENDPOINT_DRAFTSET
                                                              :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY }

 :drafter.routes/jobs-status {:wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.routes.sparql/live-sparql-query-route {:repo #ig/ref :drafter.backend.live/endpoint
                                                 :timeout-fn #ig/ref [:drafter.timeouts/timeout-query :drafter/live-timeout]}

 :drafter.feature.draftset.show/handler {:drafter/backend #ig/ref :drafter/backend
                                         :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.feature.draftset.list/get-draftsets-handler {:drafter/backend #ig/ref :drafter/backend
                                                       :wrap-auth #ig/ref :drafter.middleware/wrap-auth}


 :drafter.feature.draftset.create/handler {:drafter/backend #ig/ref :drafter/backend
                                           :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock
                                           :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.feature.middleware/wrap-as-draftset-owner {:drafter/backend #ig/ref :drafter/backend
                                                       :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.feature.draftset.delete/handler {:drafter/backend #ig/ref :drafter/backend
                                           :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock
                                           :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.options/handler {:drafter/backend #ig/ref :drafter/backend
                                            :wrap-auth #ig/ref :drafter.middleware/wrap-auth}

 :drafter.feature.draftset-data.show/handler {:drafter/backend #ig/ref :drafter/backend
                                              :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner
                                              :timeout-fn #ig/ref [:drafter.timeouts/timeout-query :drafter/draftset-timeout]}

 :drafter.feature.draftset-data.delete/delete-data-handler {:drafter/backend #ig/ref :drafter/backend
                                                            :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock
                                                            :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset-data.delete-by-graph/sync-job-handler
 {:backend #ig/ref :drafter/backend
  :global-writes-lock #ig/ref :drafter/global-writes-lock}

 :drafter.feature.draftset-data.delete-by-graph/async-job-handler
 {:backend #ig/ref :drafter/backend}

 :drafter.feature.draftset-data.delete-by-graph/remove-graph-handler
 {:drafter/backend #ig/ref :drafter/backend
  :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner
  :sync-job-handler #ig/ref :drafter.feature.draftset-data.delete-by-graph/sync-job-handler
  :async-job-handler #ig/ref :drafter.feature.draftset-data.delete-by-graph/async-job-handler}


 :drafter.feature.draftset.changes/delete-changes-handler {:drafter/backend #ig/ref :drafter/backend
                                                           :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock
                                                           :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset-data.append/data-handler {:drafter/backend #ig/ref :drafter/backend
                                                     :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock
                                                     :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset-data.append-by-graph/handler {:drafter/backend #ig/ref :drafter/backend
                                                         :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock
                                                         :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.query/handler {:drafter/backend #ig/ref :drafter/backend
                                          :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner
                                          :timeout-fn #ig/ref [:drafter.timeouts/timeout-query :drafter/draftset-timeout]}

 :drafter.feature.draftset.publish/handler {:drafter/backend #ig/ref :drafter/backend
                                            :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.set-metadata/handler {:drafter/backend #ig/ref :drafter/backend
                                                 :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock
                                                 :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.submit/handler {:drafter/backend #ig/ref :drafter/backend
                                           :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock
                                           :drafter.user/repo #ig/ref :drafter.user/repo
                                           :wrap-as-draftset-owner #ig/ref :drafter.feature.middleware/wrap-as-draftset-owner}

 :drafter.feature.draftset.claim/handler {:wrap-auth #ig/ref :drafter.middleware/wrap-auth
                                          :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock
                                          :drafter/backend #ig/ref :drafter/backend}

 :drafter.feature.users.list/get-users-handler {:wrap-auth #ig/ref :drafter.middleware/wrap-auth
                                                  :drafter.user/repo #ig/ref :drafter.user/repo}

 :drafter.routes/draftsets-api {:get-users-handler #ig/ref :drafter.feature.users.list/get-users-handler
                                :get-draftsets-handler #ig/ref :drafter.feature.draftset.list/get-draftsets-handler
                                :create-draftsets-handler #ig/ref :drafter.feature.draftset.create/handler
                                :get-draftset-handler #ig/ref :drafter.feature.draftset.show/handler
                                :delete-draftset-handler #ig/ref :drafter.feature.draftset.delete/handler
                                :draftset-options-handler #ig/ref :drafter.feature.draftset.options/handler
                                :draftset-get-data-handler #ig/ref :drafter.feature.draftset-data.show/handler
                                :delete-draftset-data-handler #ig/ref :drafter.feature.draftset-data.delete/delete-data-handler
                                :delete-draftset-graph-handler #ig/ref :drafter.feature.draftset-data.delete-by-graph/remove-graph-handler
                                :delete-draftset-changes-handler #ig/ref :drafter.feature.draftset.changes/delete-changes-handler
                                :put-draftset-data-handler #ig/ref :drafter.feature.draftset-data.append/data-handler
                                :put-draftset-graph-handler #ig/ref :drafter.feature.draftset-data.append-by-graph/handler
                                :draftset-query-handler #ig/ref :drafter.feature.draftset.query/handler
                                :draftset-publish-handler #ig/ref :drafter.feature.draftset.publish/handler
                                :draftset-set-metadata-handler #ig/ref :drafter.feature.draftset.set-metadata/handler
                                :draftset-submit-to-handler #ig/ref :drafter.feature.draftset.submit/handler
                                :draftset-claim-handler #ig/ref :drafter.feature.draftset.claim/handler}


 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;




 :drafter.handler/app {:repo #ig/ref :drafter.stasher/repo
                       :live-sparql-query-route #ig/ref :drafter.routes.sparql/live-sparql-query-route
                       :draftset-api-routes #ig/ref :drafter.routes/draftsets-api
                       :jobs-status-routes #ig/ref :drafter.routes/jobs-status
                       :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock}



 :drafter.server/http {:handler #ig/ref :drafter.handler/app
                       :open-browser? false
                       :stacktraces? false
                       :port #long #or [#port #env DRAFTER_TEST_HTTP_PORT 3003]}
 }
