#merge
[#include "empty-db-system.edn"
 {:drafter.test-common/manual-clock {}
  :drafter/manager
  {:drafter/backend #ig/ref :drafter/backend
   :drafter/global-writes-lock #ig/ref :drafter/global-writes-lock
   :drafter.time/clock #ig/ref :drafter.test-common/manual-clock
   :drafter.backend.draftset.graphs/manager #ig/ref :drafter.backend.draftset.graphs/manager}}]
