/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/MyDatabases/
/drafter-test-db/
/drafter.log
/drafter.log.*
user_repl.clj
.DS_Store
/drafter-db/
/logs/
.idea/
drafter.iml
/profiles.clj
/test-drafter-db/
/test-users.edn
sparql-cache
tmp
stasher-cache
env/dev/drafter-local-config.edn
.cpcache
Procfile
