{:paths ["src" "resources"]

 :deps {buddy/buddy-auth {:mvn/version "3.0.1"}
        buddy/buddy-core {:mvn/version "1.10.1"}

        ;; override cheshire a transitive dep of buddy-core which
        ;; otherwise introduces CVE-2020-28491 via its
        ;; jackson-dataformat-cbor dep.
        ;;
        ;; The cbor dep can't be excluded as cheshire has a hard
        ;; dependency on it, so we bump cheshire here.
        ;;
        ;; NOTE: If we bump buddy-core from 1.10.1 we may be able to
        ;; remove this dep.
        cheshire/cheshire {:mvn/version "5.10.1"}

        org.clojure/clojure {:mvn/version "1.11.1"}

        org.clojure/math.combinatorics {:mvn/version "0.1.6"}

        cognician/dogstatsd-clj {:mvn/version "0.1.2"}

        commons-codec/commons-codec {:mvn/version "1.15"}

        clj-time/clj-time {:mvn/version "0.15.2"}
        clj-commons/clj-yaml {:mvn/version "0.7.107"} ;; for loading our Swagger schemas
        metosin/scjsv {:mvn/version "0.6.2"} ;; for validating our Swagger/JSON schemas

        aero/aero {:mvn/version "1.1.6"}

        integrant/integrant {:mvn/version "0.8.0"}
        meta-merge/meta-merge {:mvn/version "1.0.0"}

        com.novemberain/monger {:mvn/version "3.5.0"}

        com.sun.mail/javax.mail {:mvn/version "1.6.2"}
        ;;[com.taoensso/tower "2.0.2"]

        io.github.swirrl/grafter.repository {:mvn/version "3.0.0"}
        org.eclipse.rdf4j/rdf4j-queryresultio-text {:mvn/version "4.2.2"}
        org.eclipse.rdf4j/rdf4j-queryresultio-sparqljson {:mvn/version "4.2.2"}

        org.apache.tika/tika-core {:mvn/version "1.27"} ;; mime types

        org.apache.commons/commons-compress {:mvn/version "1.21"}

        lib-noir/lib-noir {:mvn/version "0.9.9"
                           :exclusions [compojure/compojure
                                        org.clojure/java.classpath
                                        org.clojure/tools.reader
                                        org.clojure/java.classpath
                                        javax.servlet/servlet-api]}
        me.raynes/fs {:mvn/version "1.4.6"} ;; filesystem utils

        metosin/ring-swagger-ui {:mvn/version "3.20.1"}
        metosin/ring-swagger {:mvn/version "0.26.2"}

        ;; Use JENA for our query rewriting
        org.apache.jena/jena-arq {:mvn/version "3.17.0"
                                  :exclusions [org.slf4j/slf4j-api
                                               org.slf4j/jcl-over-slf4j
                                               org.apache.httpcomponents/httpclient]}

        ;; libthrift is a transitive dep of jena-arq, override version
        ;; to mitigate CVEs: CVE-2019-0205, CVE-2020-13949,
        ;; CVE-2019-0210, CVE-2018-1320, CVE-2018-11798.
        ;;
        ;; We may be able to remove this when we upgrade jena
        org.apache.thrift/libthrift {:mvn/version "0.15.0"}

        org.apache.jena/jena-base {:mvn/version "3.17.0" :exclusions [org.slf4j/slf4j-api]}
        org.apache.jena/jena-core {:mvn/version "3.17.0" :exclusions [org.slf4j/slf4j-api]}
        org.apache.jena/jena-iri {:mvn/version "3.17.0" :exclusions [org.slf4j/slf4j-api]}

        org.mindrot/jbcrypt {:mvn/version "0.4"}

        org.clojure/tools.logging {:mvn/version "1.2.2"}
        org.apache.logging.log4j/log4j-api {:mvn/version "2.17.1"} ; Import log4j2 as the logging backend
        org.apache.logging.log4j/log4j-core {:mvn/version "2.17.1"} ; Import log4j2 as the logging backend
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.17.1"} ; Redirect all SLF4J logs over the log4j2 backend

        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.32"} ; redirect log4j 1.x logs
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.32"} ; redirect commons logging
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.32"}

        ring-middleware-format/ring-middleware-format {:mvn/version "0.7.4"}
        ring/ring {:mvn/version "1.9.4" :exclusions [org.clojure/java.classpath]}
        org.eclipse.jetty/jetty-server {:mvn/version "9.4.44.v20210927"}

        ring-middleware-accept/ring-middleware-accept {:mvn/version "2.0.3"}
        ring-server/ring-server {:mvn/version "0.5.0"}
        ring/ring-core {:mvn/version "1.9.4"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}

        com.yetanalytics/flint {:mvn/version "0.2.1"
                                :exclusions [org.clojure/clojure
                                             org.clojure/clojurescript]}

        com.auth0/jwks-rsa {:mvn/version "0.20.0"}
        com.auth0/java-jwt {:mvn/version "3.18.2"}
        com.github.oliyh/martian {:mvn/version "0.1.20"}
        medley/medley {:mvn/version "1.3.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        swirrl/auth0 {:git/url "git@github.com:Swirrl/swirrl-auth0"
                      :sha "8f0694b6449bb2ec7d7a4b8b2d09acb67dc8dab4"}}

 :jvm-opts ["-Djava.awt.headless=true" "-XX:-OmitStackTraceInFastThrow"]

 :aliases {:dev {:extra-paths ["env/dev/clj" "env/dev/resources"]
                 :extra-deps {clojure-csv/clojure-csv {:mvn/version "2.0.2"}
                              environ/environ {:mvn/version "1.2.0"}
                              lambdaisland/kaocha {:mvn/version "1.60.972"}
                              org.clojure/data.json {:mvn/version "2.4.0"}
                              org.clojure/test.check {:mvn/version "1.1.1"}
                              ring-mock/ring-mock {:mvn/version "0.1.5"}
                              ring/ring-devel {:mvn/version "1.9.4" :exclusions [org.clojure/java.classpath org.clojure/tools.reader]}
                              integrant/repl {:mvn/version "0.3.2"}}
                 :jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,drafter.write-scheduler/toggle-reject-and-flush!}"]}

           :test {:extra-paths ["env/dev/clj" "test" "test/resources"]}

           ;; Alias for starting drafter in a pmd4 config with:
           ;; clojure -M:pmd4
           :pmd4 {:extra-paths ["env/prod/clj" "env/docker/resources"]
                  :jvm-opts ["-Xmx4g"
                             "-Dcom.sun.management.jmxremote.ssl=false"
                             "-Dcom.sun.management.jmxremote.authenticate=false"
                             "-Dcom.sun.management.jmxremote.port=3007"
                             "-Dhttp.maxConnections=60"
                             "-Dorg.eclipse.jetty.server.Request.maxFormContentSize=41943040"
                             "-Dlog4j2.formatMsgNoLookups=true"
                             "-Dlog4j.configurationFile=log4j2.xml"
                             "-Dclojure.server.repl={:port,5555,:accept,drafter.write-scheduler/toggle-reject-and-flush!}"]

                  :main-opts ["-m" "drafter.main" "./resources/drafter-auth0.edn"]}

           ;; Alias for starting drafter in a pmd3 config with:
           ;; clojure -M:pmd3
           :pmd3 {:extra-paths ["env/prod/clj" "env/docker/resources"]
                  :jvm-opts ["-Xmx4g"
                             "-Dcom.sun.management.jmxremote.ssl=false"
                             "-Dcom.sun.management.jmxremote.authenticate=false"
                             "-Dcom.sun.management.jmxremote.port=3007"
                             "-Dhttp.maxConnections=60"
                             "-Dorg.eclipse.jetty.server.Request.maxFormContentSize=41943040"
                             "-Dlog4j2.formatMsgNoLookups=true"
                             "-Dlog4j.configurationFile=log4j2.xml"
                             "-Dclojure.server.repl={:port,5555,:accept,drafter.write-scheduler/toggle-reject-and-flush!}"]

                  :main-opts ["-m" "drafter.main" "./env/dev/resources/drafter-basic-dev-config.edn"]}

           :skinny {:extra-paths ["env/prod/clj"]}

           ;; config for pmd4 flavoured docker
           :pmd4/docker {:extra-paths ["env/prod/clj" "env/docker/resources"]
                         :jvm-opts ["-Xmx4g"
                                    "-Dcom.sun.management.jmxremote.ssl=false"
                                    "-Dcom.sun.management.jmxremote.authenticate=false"
                                    "-Dcom.sun.management.jmxremote.port=3007"
                                    "-Dhttp.maxConnections=60"
                                    "-Dorg.eclipse.jetty.server.Request.maxFormContentSize=41943040"
                                    "-Dlog4j2.formatMsgNoLookups=true"
                                    "-Dlog4j.configurationFile=log4j2.xml"
                                    "-Dclojure.server.repl={:port,5555,:accept,drafter.write-scheduler/toggle-reject-and-flush!}"]

                         :main-opts ["-m" "drafter.main" "/app/config/drafter-auth0.edn"]} 

           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}
                          io.github.juxt/pack.alpha {:git/sha "802b3d6347376db51093d122eb4b8cf8a7bbd7cf"}}
                   :ns-default build}

           :java9 {:jvm-opts ["--add-modules" "java.xml.bind"]}

           :spec {:main-opts ["-m" "drafter.check-specs" "100" "true"]}}}
