{

 ;; This file is meta-merged from the resource path over
 ;; drafter-base-config.edn when the system is launched via
 ;; drafter.main without any extra production overrides.
 ;;
 ;; This file is our current default production config, that assumes
 ;; pre muttnik (PMD3) authentication via basic-auth/jwt with a mongo
 ;; db of users.


 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; User Database config
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 :drafter.middleware.auth/wrap-authenticate
 {:drafter.user/repo #ig/ref :drafter.user/mongo
  :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY}

 :drafter.middleware/wrap-authenticate
 {:middleware [#ig/ref :drafter.middleware.auth/wrap-authenticate]}

 :drafter.user/mongo {:mongo-host #env DRAFTER_MONGO_HOST
                      :mongo-port #port #env DRAFTER_MONGO_PORT
                      :mongo-user-collection #or [#env DRAFTER_MONGO_USER_COLLECTION "users"]
                      :mongo-db-name #env DRAFTER_USER_DB_NAME

                      :realm #join ["Drafter: " #env DRAFTER_USER_DB_NAME]
                      }

 }
