{
 :drafter.stasher/cache-thread-pool {:core-pool-size 1
                                     :max-pool-size 1
                                     :keep-alive-time-ms 1000
                                     :queue-size 1}

 :drafter.stasher.filecache/file-backend {:persist-on-shutdown? false}

 :drafter.stasher/cache {:cache-backend #ig/ref :drafter.stasher.filecache/file-backend
                         :thread-pool #ig/ref :drafter.stasher/cache-thread-pool}

 :drafter.common.config/sparql-query-endpoint "http://localhost:5820/drafter-test-db/query"
 :drafter.common.config/sparql-update-endpoint "http://localhost:5820/drafter-test-db/update"

 :drafter.stasher/repo {:cache #ig/ref :drafter.stasher/cache
                        :sparql-query-endpoint #ig/ref :drafter.common.config/sparql-query-endpoint
                        :sparql-update-endpoint #ig/ref :drafter.common.config/sparql-update-endpoint }

 :drafter/logging {:config "./test/resources/log-config.edn"}

 }
