{

 :drafter.user/memory-repository {:users [{:username "editor@swirrl.com" :password "password" :role :editor}
                                          {:username "publisher@swirrl.com" :password "password" :role :publisher}
                                          {:username "manager@swirrl.com" :password "password" :role :manager}
                                          {:username "system@swirrl.com" :password "password" :role :system}]
                                  :realm "Drafter Memory Repo"}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Web Middleware
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 :drafter.middleware.auth/wrap-auth
 {:drafter.user/repo #ig/ref :drafter.user/repo
  :jws-signing-key #env DRAFTER_JWS_SIGNING_KEY}

 :drafter.middleware/wrap-auth
 {:middleware [#ig/ref :drafter.middleware.auth/wrap-auth]}

 }
