;; This file is meta-merged over drafter-base-config.edn when the
;; system is launched via drafter.main.

{
 :swirrl.auth0/client {:endpoint #env AUTH0_DOMAIN
                       :iss #env AUTH0_DOMAIN
                       :aud #env AUTH0_AUD
                       :api #join [#env AUTH0_DOMAIN "/api/v2/"]
                       :swagger-json #resource "swirrl/auth0/swagger.json"
                       :client-id #env AUTH0_CLIENT_ID
                       :client-secret #env AUTH0_CLIENT_SECRET}

 :drafter.user/auth0-repository {:auth0 #ig/ref :swirrl.auth0/client}

 :swirrl.auth0/jwk {:endpoint #env AUTH0_DOMAIN}

 ;; auth methods
 ;; auth0
 :drafter.auth.auth0/auth0-auth-method {:auth0-client #ig/ref :swirrl.auth0/client
                                        :jwk #ig/ref :swirrl.auth0/jwk}}
