{:drafter.user/memory-repository {:users [{:username "editor@swirrl.com" :password "password" :role :editor}
                                          {:username "publisher@swirrl.com" :password "password" :role :publisher}
                                          {:username "manager@swirrl.com" :password "password" :role :manager}
                                          {:username "system@swirrl.com" :password "password" :role :system}]
                                  :realm "Drafter Memory Repo"}

 :drafter.auth.auth0/mock-jwk {}

 ;; this config is using the memory-repo for user lookup, so will not use auth0 API
 :swirrl.auth0/client {:iss #env AUTH0_DOMAIN
                       :aud #env AUTH0_AUD
                       :endpoint #env AUTH0_DOMAIN
                       :swagger-json #resource "swirrl/auth0/swagger.json"}

 ;; auth method
 ;; JWT signed by mock JWK
 :drafter.auth.auth0/auth0-auth-method {:auth0-client #ig/ref :swirrl.auth0/client
                                        :jwk #ig/ref :drafter.auth.auth0/mock-jwk}
 }
