;; This file is meta-merged over drafter-base-config.edn when the
;; system is launched via drafter.main.

{
 :swirrl.auth0/client {:endpoint #env AUTH0_DOMAIN
                       :iss #env AUTH0_DOMAIN
                       :aud #env AUTH0_AUD
                       :api #join [#env AUTH0_DOMAIN "/api/v2/"]
                       :swagger-json #resource "swirrl/auth0/swagger.json"
                       :client-id #env AUTH0_CLIENT_ID
                       :client-secret #env AUTH0_CLIENT_SECRET}

 :drafter.user/auth0-repository {:auth0 #ig/ref :swirrl.auth0/client}

 :swirrl.auth0/jwk {:endpoint #env AUTH0_DOMAIN}

 :swirrl.auth0.middleware/bearer-token
 {:auth0 #ig/ref :swirrl.auth0/client :jwk #ig/ref :swirrl.auth0/jwk}

 :drafter.middleware.auth0-auth/identify {}

 :drafter.middleware.auth0-auth/token-authentication {}

 :drafter.auth/read-role {}
 :swirrl.auth0.middleware/normalize-roles {:role-reader #ig/ref :drafter.auth/read-role}

 :drafter.middleware/wrap-authenticate
 {:middleware [#ig/ref :swirrl.auth0.middleware/bearer-token
               #ig/ref :swirrl.auth0.middleware/normalize-roles
               #ig/ref :drafter.middleware.auth0-auth/identify
               #ig/ref :drafter.middleware.auth0-auth/token-authentication]}}
