;; This file is meta-merged over drafter-base-config.edn when the
;; system is launched via drafter.main.

{
 :swirrl.auth0/client {:endpoint #env AUTH0_DOMAIN
                       :audience "https://dev-kkt-m758.eu.auth0.com/api/v2/"
                       :swagger-json #resource "swirrl/auth0/swagger.json"

                       ;; TODO: We should probably set these ID's and secrets via env vars too
                       :client-id "kXGEqpUE9aWRkMYe67cAxW4fNU2hpiMt"
                       :client-secret "26kt07oo36e8yhmaJoz4OqgXpiMskhtC5BQYzT9v5fQcNXQLi8QKJO9RZD2Bb44N"}

 :drafter.user/auth0-repository {:auth0 #ig/ref :swirrl.auth0/client}

 :swirrl.auth0/jwk {:endpoint #env AUTH0_DOMAIN}

 :drafter.auth/auth0 {:iss #env AUTH0_DOMAIN
                      :aud #env AUTH0_AUD
                      :endpoint #env AUTH0_DOMAIN
                      :client-id #env AUTH0_CLIENT_ID
                      :client-secret #env AUTH0_CLIENT_SECRET}

 :swirrl.auth0.middleware/bearer-token
 {:auth0 #ig/ref :drafter.auth/auth0 :jwk #ig/ref :swirrl.auth0/jwk}

 :drafter.middleware.auth0-auth/identify {}

 :drafter.middleware.auth0-auth/token-authentication
 {:auth0 #ig/ref :drafter.auth/auth0 :jwk #ig/ref :swirrl.auth0/jwk}

 :drafter.middleware.auth0-auth/authorization {}

 :drafter.auth/read-role {}
 :swirrl.auth0.middleware/normalize-roles {:role-reader #ig/ref :drafter.auth/read-role}

 :drafter.middleware/wrap-auth
 {:middleware [#ig/ref :swirrl.auth0.middleware/bearer-token
               #ig/ref :swirrl.auth0.middleware/normalize-roles
               #ig/ref :drafter.middleware.auth0-auth/identify
               #ig/ref :drafter.middleware.auth0-auth/token-authentication
               #ig/ref :drafter.middleware.auth0-auth/authorization]}

 }
