<div class="form-group">
<textarea accept-charset="UTF-8" name="query" id="query" rows="20" class="form-control" tabindex="1">{% block query %}
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt;
PREFIX dcterms: &lt;http://purl.org/dc/terms/&gt;
PREFIX owl: &lt;http://www.w3.org/2002/07/owl#&gt;
PREFIX qb: &lt;http://purl.org/linked-data/cube#&gt;
PREFIX skos: &lt;http://www.w3.org/2004/02/skos/core#&gt;

SELECT * WHERE {
  ?s ?p ?o .
} LIMIT 10
{% endblock %}</textarea>
</div>
<button class="btn btn-primary btn-block btn-lg" type="submit">Query</button>
