{% extends "templates/base.html" %}
{% block content %}
<h1>Query {{ name }}</h1>

<form method="GET" action="{{ endpoint }}">
	<ul>
		{% for draft in drafts %}
		<div class="checkbox">
			<label>
				<input name="graph" type="checkbox" value="{{ draft.draft }}"> <a href="/draft/{{ draft.guid }}">{{ draft.draft}}</a> &#8594; {{ draft.live}}
			</label>
		</div>
		{% endfor %}
	</ul>

	<textarea accept-charset="UTF-8" name="query" id="query" rows="20" cols="100" tabindex="1">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt;

SELECT * WHERE {
  ?s ?p ?o .
} LIMIT 10

	</textarea>

	<input type="hidden" name="utf8" value="✓" />
	<button class="btn btn-primary" type="submit">Query</button>
</form>

<h1>Update {{ name }}</h1>
<p><em>NOTE:</em> Update queries must be made against ManagedGraphs URI's</p>

<form method="POST" action="{{ update-endpoint }}" enctype="application/x-www-form-urlencoded">
	<textarea accept-charset="UTF-8" name="update" id="update" rows="20" cols="100" tabindex="1">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt;

INSERT {
  GRAPH <http://my-managed-graph-uri-here/> {
    &lt;http://test.com/&gt; a &lt;http://example.org/Example&gt;
  }
} WHERE {

}
</textarea>
<button class="btn btn-danger" type="submit">Update</button>
</form>

{% endblock %}
