{% extends "templates/base.html" %}
{% block content %}

<pre>Live: {{ live }}</pre>
<pre>Draft: {{ draft }}</pre>
<form method="POST" action="/graph/live">
	<input type="hidden" name="_method" value="put"/>
	<input type="hidden" name="graph" value="{{ draft }}"/>
	<button type="submit" class="btn btn-success">Make Graph Live</button>
</form>

<h2>Copy Live Graph Data</h2>
<p>Append all live graph triples into the draft graph.</p>
<form method="POST" action="/draft/copy-live">
  <input type="hidden" name="graph" value="{{ draft }}"/>
  <button type="submit" class="btn btn-success">Copy Live Graph</button>
</form>

<h2>Append RDF to Draft</h2>
<form class="col-sm-4" method="POST" role="form" action="/draft?graph={{ draft }}" enctype="multipart/form-data">
	<div class="form-group">
		<select class="form-control" name="content-type">
			<option value="application/n-triples">application/n-triples</option>
			<option value="application/rdf+xml">application/rdf+xml</option>
			<option value="text/turtle">text/turtle</option>
			<option value="text/n3">text/n3</option>
		</select>
		<br/>
		<input type="file" name="file" />
	</div>
	<button class="btn btn-primary" type="submit">Append RDF</button>
</form>

{% endblock %}
