{:drafter.common/config {:sparql-query-endpoint #uri "http://localhost:5820/drafter-test-db/query"
                         :sparql-update-endpoint #uri "http://localhost:5820/drafter-test-db/update"}

 :drafter.stasher/cache-thread-pool {}
 
 :drafter.stasher.filecache/file-backend {}

 :drafter.stasher/cache {:cache-backend #ig/ref :drafter.stasher.filecache/file-backend
                         :thread-pool #ig/ref :drafter.stasher/cache-thread-pool}


 :drafter.stasher/repo #merge [{:thread-pool #ig/ref :drafter.stasher/cache-thread-pool
                                :cache #ig/ref :drafter.stasher/cache}
                               ^:ref [:drafter.common/config]]
 
 
 ;;;; A repo specifically for the live query endpoint
 :drafter.backend.live/endpoint {:repo #ig/ref :drafter.stasher/repo}

 :drafter/backend {:repo #ig/ref :drafter.stasher/repo}
 
 :drafter.backend.draftset/endpoint {:repo #ig/ref :drafter.stasher/repo}

 
 :drafter/write-scheduler {:port #long #or [#port #env DRAFTER_HTTP_PORT 3003]}
 
 }
