{ :drafter.common/config {:sparql-query-endpoint #uri "http://localhost:5820/drafter-test-db/query"
                          :sparql-update-endpoint #uri "http://localhost:5820/drafter-test-db/update"}

 
 :drafter.stasher/filecache {}
 
 :drafter.stasher/repo #merge [{:cache #ig/ref :drafter.stasher/filecache}
                               ^:ref [:drafter.common/config]]
 

 ;;;; A repo specifically for the live query endpoint
 :drafter.backend.live/endpoint {:uncached-repo #ig/ref :drafter.backend/rdf4j-repo
                                 :stasher-repo #ig/ref :drafter.stasher/repo}
 
 :drafter.backend/rdf4j-repo #merge [{:batched-write-size #or [#env "batched-write-size" 75000]
                                      ;; TODO  :batched-write-size #opt-nat #env DRAFTER_BATCHED_WRITE_SIZE
                                      }
                                     ^:ref [:drafter.common/config]]

 :drafter.backend.draftset/endpoint {:uncached-repo #ig/ref :drafter.backend/rdf4j-repo
                                     :stasher-repo #ig/ref :drafter.stasher/repo}


 :drafter/write-scheduler {:port #long #or [#port #env DRAFTER_HTTP_PORT 3003]}

 }
