{
 :drafter.auth.auth0/mock-jwk {:endpoint #env AUTH0_DOMAIN}
 :drafter.auth.auth0/jwk #ig/ref :drafter.auth.auth0/mock-jwk

 :drafter.auth/auth0 {:iss #env AUTH0_DOMAIN
                      :aud #env AUTH0_AUD
                      :endpoint #env AUTH0_DOMAIN
                      :client-id #env AUTH0_CLIENT_ID
                      :client-secret #env AUTH0_CLIENT_SECRET}

 :drafter.middleware/dev-token
 {:drafter.middleware/access-token {:payload {:permissions ["drafter:admin"]}}
  :drafter.middleware/id-token {:payload {:name "Swirrly McSwirrlFace"}}}

 :drafter.middleware/bearer-token {:auth0 #ig/ref :drafter.auth/auth0
                                   :jwk #ig/ref :drafter.auth.auth0/mock-jwk}

 :drafter.middleware/token-authentication {:auth0 #ig/ref :drafter.auth/auth0
                                           :jwk #ig/ref :drafter.auth.auth0/mock-jwk}

 :drafter.middleware/wrap-auth {:wrap-token #ig/ref :drafter.middleware/bearer-token
                                :wrap-auth  #ig/ref :drafter.middleware/token-authentication}

 }
