#merge [#include "../../../backend.edn"
        #include "../../../repo.edn"
        ;#include "../../../user-repo.edn"
        #include "../../../log-system.edn"
        ;#include "../../../web.edn"
        #_{ :drafter.fixture-data/loader {:repo #ig/ref :drafter.stasher/repo
                                          :fixtures [#resource "drafter/routes/draftsets-api/get-draftsets-handler.trig"]}}]
