#meta-merge [#include "manifest/shared.edn"
             {:omni/keys {:drafter/jws-signing-key {:doc "Signing key for JWS tokens"
                                                    :env-var DRAFTER_JWS_SIGNING_KEY}

                          :drafter/mongo-host {:doc "Hostname for your mongodb of users."
                                               :env-var DRAFTER_MONGO_HOST}
                          :drafter/mongo-port {:doc "Port number for your mongodb."
                                               :env-var DRAFTER_MONGO_PORT
                                               :default "27017"}
                          :drafter/mongo-user-collection {:doc "The mongo collection containing your drafter users."
                                                          :env-var DRAFTER_MONGO_USER_COLLECTION
                                                          :default "users"}

                          :drafter/user-db-name {:doc "The name of the mongo user database, e.g. 'pmd2'"
                                                 :env-var DRAFTER_USER_DB_NAME}}
              :omni/facets {:install [{:type :copy
                                       :path "drafter-prod-pmd3-auth.edn"
                                       :dest-path "drafter-prod.edn"
                                       :mode "644"
                                       :env #{:prod}
                                       }
                                      {:type :selmer/template
                                       :path "dev-start-basic-auth.sh"
                                       :dest-path "dev-start.sh"
                                       :mode "755"
                                       :keys [:omni/install-dir]
                                       :env #{:dev :ci}}
                                      {:type :copy
                                       :path "drafter-dev-auth0.edn"
                                       :mode "644"
                                       :env #{:dev :ci}
                                       }
                                      {:type :copy
                                       :path "drafter-dev-basic-auth-memory-db.edn"
                                       :mode "644"
                                       :env #{:dev :ci}}
                                      {:type :copy
                                       :path "stasher-off.edn"
                                       :mode "644"
                                       :env #{:dev :ci}}]}

              :omni/package-name "drafter-pmd3"
              :omni/dependencies {"stardog" "6.2.3-2.1"
                                  "mongodb" "4.4"
                                  "server-ssl" "1.2021"}}]
