#meta-merge [#include "manifest/shared.edn"
             {:omni/package-name "drafter-pmd4"
              :omni/dependencies #include "../dependencies.edn"
              :omni/keys {:drafter/auth0-domain {:doc "URL to the auth0 domain, e.g. https://dev-kkt-m758.eu.auth0.com"
                                                 :env-var AUTH0_DOMAIN
                                                 }
                          :drafter/auth0-aud {:doc "The intended audience of the auth0 token, usually the sites URL.  This is normally a URI, that identifies an arbitrary grouping of services.  The same value needs to be specified in your auth0 admin panel configuration."
                                              :env-var AUTH0_AUD}
                          :drafter/auth0-client-id {:doc "The auth0 client id."
                                                    :env-var AUTH0_CLIENT_ID}
                          :drafter/auth0-client-secret {:doc "The auth0 client secret."
                                                        :env-var AUTH0_CLIENT_SECRET}
                          }
              :omni/facets {:install [{:type :copy
                                       :path "drafter-prod-auth0.edn"
                                       :dest-path "drafter-prod.edn"
                                       :mode "644"
                                       :env #{:prod}
                                       }
                                      {:type :selmer/template
                                       :path "dev-start-auth0.sh"
                                       :dest-path "dev-start.sh"
                                       :mode "755"
                                       :keys [:omni/install-dir]
                                       :env #{:dev :ci}}
                                      {:type :copy
                                       :path "drafter-dev-auth0.edn"
                                       :mode "644"
                                       :env #{:dev :ci}
                                       }
                                      {:type :copy
                                       :path "drafter-dev-basic-auth-memory-db.edn"
                                       :mode "644"
                                       :env #{:dev :ci}
                                       }
                                      {:type :copy
                                       :path "stasher-off.edn"
                                       :mode "644"
                                       :env #{:dev :ci}
                                       }
                                      ]}}]
